.chat-main


  .chat-main__header
    .chat-main__header__left
      .chat-main__header__left__title
        = @group.name
      %ul.left-header__members
        Member :
        - @group.users.each do |user|
          = user.name
        %li.member

    .chat-main__header__right
      = link_to edit_group_path(params[:group_id])do
        Edit



  .chat-main__messages
    - @messages.each do |message|
      .chat-main__messages__message{data:{id: "#{message.id}"}}
        .chat-main__messages__message__upper
          .chat-main__messages__message__upper__user-name
            = message.user.name
          .chat-main__messages__message__upper__date
            = message.created_at.strftime("%Y/%m/%d %H:%M")
        .chat-main__messages__message__lower
          - if message.content.present?
            .chat-main__messages__message__lower__content
              = message.content
          = image_tag message.image.url, class: 'lower-message__image' if message.image.present?


  .chat-main__form
    = form_for [@group, @message],id:"new_message" do |f|
      = f.text_field :content, class: 'form', placeholder: 'type a message'
      .chat-main__form__picture
        = f.label :image do
          = fa_icon 'picture-o'
          = f.file_field :image, class: 'message_image', style:"display:none"

      = f.submit 'Send', class: 'btn'


